# Archivo de ejemplo de variables de entorno
NEONDB_PASSWORD=tu_password_de_neon_db
SENDGRID_API_KEY=tu_api_key_de_sendgrid
SENDGRID_FROM_EMAIL=tu_email_de_sendgrid
SENDGRID_FROM_NAME=Nombre_para_envio
FRONTEND_URL=http://localhost:3000
FRONTEND_LOCAL_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=nombre_de_tu_cloudinary
CLOUDINARY_API_KEY=clave_de_api_de_cloudinary
CLOUDINARY_API_SECRET=secreto_de_api_de_cloudinary